.App {
  text-align: center;
}

.App-logo {
  height: 55px;
}

.App-header {
  background-color: #006400;
  height: 50px;
  padding: 10px;
  color: white;
}

.table-header{
  width: 75%;
  height: 50px;
  background-color: #006400;
  text-align: center;
  margin: 20px auto 0 auto;
  vertical-align: middle;
  font-family: monospace;
  font-size: 30px;
  line-height: 50px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #004600;
}

.col-labels {
  width: 75%;
  margin: 0 auto;
  border-left: 1px solid #004600;
  border-right: 1px solid #004600;
}

.row{
  display: block;
  text-align: left;
  overflow: auto;
  box-sizing: border-box;
}
